.sub-content.false {
  display: none;
}
.sub-content.true {
  display: block;
}
.two-grid-block {
  display: flex;
  justify-content: space-between;
}

section.twoColumn {
  margin: 20px 0;
}

.two-grid-block > div.cols {
  flex: 0 0 48.8%;
}

.two-grid-block img {
  display: block;
}
.two-grid-block .content-block h3 {
  margin: 0 0 8px;
  font-size: 23px;
  line-height: 1;
}
.two-grid-block .content-block p {
  margin: 0 0 7px;
  font-size: 14px;
}
.two-grid-block .image-block {
  margin-bottom: 10px;
}

.three-grid-block {
  display: flex;
  justify-content: flex-start;
}

.three-grid-block > div.cols {
  flex: 0 0 33.33%;
  position: relative;
}

.three-grid-block > div.cols img {
  display: block;
}

.three-grid-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.three-grid-block > div.cols {
  flex: 0 0 33.33%;
}

.three-grid-block > div.cols img {
  display: block;
}

.three-grid-block > div.cols .content-block {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fff;
  background: #00000082;
  width: 100%;
}
